<!doctype html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Kranky" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link rel='stylesheet' href='style.css'>
    <title>Mystery Game - Game Over</title>
  </head>

  <body>
    <header>
      <h2 class='header-title'> Mystery Word</h2>
      <h2 class='guesses-left'>Guesses Remaining: {{ guessesLeft }}</h2>
    </header>

    <div class="end-game-wrapper">
    <div class='end-game-container'>
      {{ #youWin }}
        <h1 class='end-game'>You Win!</h1>
        <h1 class='end-game-word'>{{ blanks }}</h1>
      {{ /youWin }}

      {{ #youLose }}
        <h1 class='end-game'>Game Over!</h1>
        <h3 class='correct'>Correct Word:</h3>
        <h1 class='end-game-word'>{{ word }}</h1>
      {{ /youLose }}

      <div>
        <h3 class='letters'>Letters Guessed:</h3>
        <p>{{ lettersGuessed }}</p>
      </div>

      <a href='/'>
        <button class='play-again'>Play Again</button>
      </a>
    </div>

    {{ #youWin }}
    <div class='end-game-extra'>
      <h1>Join the Winner's Circle!</h1>
      <form method="post" action="/winner-circle">
        <input type="text" name="winnerName" placeholder="Your Name">
        <input type="submit" value="Join">
      </form>
    </div>
    {{ /youWin }}

    {{ #youLose }}
    <div class='end-game-extra'>
      <img src="hangman.jpg">
    </div>
    {{ /youLose }}
    </div>
  </body>

</html>
