<!doctype html>

<html>
  <head>
  </head>

  <body>
    <header>
      <h2> Mystery Word</h2>
      <h2>Guesses Remaining: {{ guessesLeft }}</h3>
    </header>

    {{ #alreadyGuessed }}
    <h3>Looks like you've already guessed that, try again!</h3>
    {{ /alreadyGuessed }}

    {{ #incorrect }}
    <h3>Incorrect Guess - please try again</h3>
    {{ /incorrect }}

    {{ #error }}
    <h3>Guess invalid - must be one character in length</h3>
    {{ /error }}

    <div>
      <h1>{{ blanks }}</h1>
    </div>

    <div>
      <form method='post' action='/guess'>
        <input type='text' name='guess' placeholder='Enter Letter'>
        <input type='submit' value='Guess'>
      </form>
    </div>

    <div>
      <h3>Letters Guessed:</h3>
      <p>{{ lettersGuessed }}</p>
    </div>
  </body>
</html>
