<!-- Home Page -->

<!doctype html>

<html>
  <head>
  </head>

  <body>
    <h1> Welcome to Mystery Word!</h3>

    <h2>Choose Difficulty Level</h2>
    <a href='/easy-game'>
      <button>Easy</button>
    </a>

    <a href='/medium-game'>
      <button>Medium</button>
    </a>

    <a href='/hard-game'>
      <button>Hard</button>
    </a>
  </body>

</html>
