<!-- Home Page -->

<!doctype html>

<html>
  <head>
  </head>

  <body>
    <h1> Welcome to Mystery Word!</h3>
    <a href='/begin-game'>
      <button>Enter Game</button>
    </a>
  </body>

</html>
