<!doctype>
<html>
  <head>
    <title>Winner's Circle</title>
  </header>

  <body>
    <h1>Winner's Circle</h1>
    <div>
      {{ #winnerName}}
      <ul>
        <li>{{ name }}</li>
      </ul>
        {{ /winnerName }}
      <a href='/'>
        <button class='play-again'>Play Again</button>
      </a>
    </div>
  </body>
</html>
